################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ComplexNetworks/.vs
*.csv
*.vscode
*.html
*.txt
*.pdf
*.arff
*.data
*.dvc
*.pos
*.neg
*.lock
*.github
*.png
*.jpg
*.pt
*.pkl
*.ckpt
*.TNC_default
*.vs
*.x
*.y
*.tx
*.ty
*.ally
*.allx
*.graph
*.index
/RepresentationLearning/Lab5/data/logs
/RepresentationLearning/Lab6/data
*.json
*.ipynb_checkpoints
/DeepNeuralNetworks/Lab13/ddpg_tensorboard
*.jupyter
**/raw
**/__pycache__/
