################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ComplexNetworks/.vs
*.csv
*.vscode
*.html
*.txt
*.pdf
*.arff
*.data